
.header {
  background-color: red;
  color: white;
  padding: 0px;
  display: flex;
  gap: 20px;
}

/* Navigation styles */
.main-nav ul {
  list-style: none;        /* remove bullets */
  display: flex;           /* THIS makes it horizontal */
  gap: 20px;               /* space between items */
  padding: 0;
  margin: 10px 0;
  flex-wrap: wrap;
}

.main-nav a {
  text-decoration: none;
  color: purple;
  font-weight: 500;
}

.main-nav a:hover {
  color: #c47a2c;          /* hover effect like the screenshot */
}

/* Mobile menu styles */

.menu {
  position: relative;
}


.summary {
  cursor: pointer;
  position: absolute;
  right: 0;   
  top: 0;
  color: red;
}


.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;      
  text-align: center;
}

.name{
    color: blueviolet;
    background-color: white;
    font-size: large;
    padding: 10px;
    padding-right: 10px;
    max-width: 1200px;
}

.ppp{
    color: aqua;
    font-size: 26PX;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 150px;
    background-color: brown;
    border-radius: 18px;
    padding-left: 5px;
    
}

/* Intro image styles */
.img1{
  background-image:url('https://dq5pwpg1q8ru0.cloudfront.net/2020/10/30/13/20/05/03100698-7b5b-4cd4-9b79-c245c0d7c1d8/St.%20Mary%20the%20Virgin%20photo%20%233.png');
  background-position: center;
  min-height: 80vh;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 400px;
  background-size: cover;
}
.image-text{
 position: absolute;
 font-size: large;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); /* optional */
  padding: 20px;
  border-radius: 8px;
}


/* Gallery styles */
.wrapper {
  display: flex;
  justify-content: space-evenly;   /* center the 3 images */
  align-items: center;
  gap: 16px;
  width: 100%;
  background-color: blue;
  flex-wrap: wrap;
}

.item {
  flex: 0 1 30%;             /* THIS is important */
  max-width: 1000px;
}

.item img {
  width: 100%;
  height: auto;
  border-radius: 26px;
  display: block;
}

/* Events section */

.events{
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  border-radius: 50px;
  color: black;
  font-weight: 100%;
  font-size: xx-large;
}


.footer{
  color: white;
  background-color: grey;
  border-radius: 10px;
}

/* Icons section */

.icons  {
  font-size: 48px;
  color: green;
  display: flex;
  gap: 100px;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid rgb(197, 189, 189);
  margin-bottom: 10px;
  border-radius: 10px;
}


.icona {
  display: flex;
  flex-direction: column; /* Keep the icon and text stacked vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center the text */
}


.iconp{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: purple;
  font-weight: 900;
  text-align: center;
}

/*EVENTS Intro image styles */

.introimg{
  background-image:url('https://dq5pwpg1q8ru0.cloudfront.net/2025/04/24/01/58/15/4ff66abb-7437-45fa-ae7e-b8e3e7bdfdfa/SMI%20Front.jpg');
   background-position: center; 
   background-size: cover;
   min-height: 35vh;
}

.imgnews{
    background-image:url('https://dq5pwpg1q8ru0.cloudfront.net/2020/10/29/15/33/10/13bc4908-d575-4b3a-953c-f7b7f05afff3/6A22136A-C6BF-477A-9DBD-2A43ED3D6713.jpeg'); 
    background-position: center;
    min-height: 50vh;
    background-position: center; 
    background-size: cover;
    min-height: 35vh;
}