
.header {
  background-color: red;
  color: white;
  padding: 0px;
  display: flex;
  gap: 20px;
}

.menu {
  position: relative;
}


.summary {
  cursor: pointer;
  position: absolute;
  right: 0;   
  top: 0;
  color: red;
}


.list {
  list-style: none;
  padding: 0;
  margin: 0 auto;      
  text-align: center;
}

.name{
    color: blueviolet;
    background-color: white;
    font-size: large;
    padding: 10px;
    padding-right: 10px;
    max-width: 1200px;
}

.ppp{
    color: aqua;
    font-size: 26PX;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    width: 150px;
    background-color: brown;
    
}

.img1{
  background-image:url('https://dq5pwpg1q8ru0.cloudfront.net/2020/10/30/13/20/05/03100698-7b5b-4cd4-9b79-c245c0d7c1d8/St.%20Mary%20the%20Virgin%20photo%20%233.png');
  background-position: center;
  min-height: 80vh;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 400px;
}
.image-text{
 position: absolute;
 font-size: large;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); /* optional */
  padding: 20px;
  border-radius: 8px;
}



.wrapper {
  display: flex;
  justify-content: space-evenly;   /* center the 3 images */
  align-items: center;
  gap: 16px;
  width: 100%;
  background-color: blue;
  flex-wrap: wrap;
}

.item {
  flex: 0 1 30%;             /* THIS is important */
  max-width: 1000px;
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

.events{
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  border-radius: 50px;
  color: black;
  font-weight: 100%;
  font-size: xx-large;
}

.footer{
  color: white;
  background-color: grey;
}